name: qr_app
description: Qcoder - QR Code Generator and Scanner App
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  qr_flutter: ^4.1.0
  share_plus: ^7.2.1
  google_mobile_ads: ^3.0.0
  image_picker: ^1.0.4
  mobile_scanner: ^3.5.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
     - assets/
